/* -----------------BASIC STYLE------------------*/

body{
    background-image: url(images.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    list-style: none;    
}

.background-main{
    background-color: antiquewhite;
    width: 60%;
    margin: 0 auto;
    display: block;
}

/* --------------------HEADER ---------------------*/

.top-banner{
    background-size: cover;
    height: 300px;
    margin: 0 auto;
    display: block;
    width: 60%;
}

.nav-bar-items {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.nav-bar, .nav-bar-items {
    justify-content: space-around;
}

.nav-bar-item {
    display: flex;
    flex-direction: row;
}

.nav-bar-item>a {
    text-decoration: none;
}

/*---------------------MAIN------------------------*/

/*------------------MAIN SEARCH--------------------*/

.input-char, .btn-char-send {
    display: block;
}

.image-plus-list-char {
    width: 100%;
}

.image-char {
    display: inline-block;
    padding: 20 0 20 20;
    text-align: center;
    margin: 50px 0 50px 80px;
}

.list-char {
    display: inline-block;
    /*text-align: center;*/
    float: right;
    margin: 50px 80PX 50px 0;
}

/*-------------------MAIN ALL CHAR---------------------*/

.character {
    width: 100%;
}

.all-char {
    display: inline;
    float: left;
    border: 1px solid #9424DF;
    height: 400px;
    width: 250px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 15px;
    background: #680FC6;
    box-shadow: 3px 3px 3px black;
}

.all-image {
    display: block;
    /*border-radius: 200px;*/
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 90px;
    position: relative;
    margin-top: 30px;
    box-shadow: 3px  3px 3px black;
}

.all-name {
    width: 250px;
    text-align: left;
    /*margin-right: 25px;*/
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 1;
    word-wrap: break-all;
    color: #31C60F;
    font-family: 'Chewy', cursive;
    text-shadow: 3px 3px 3px black;
    font-size: 30px;
}

.all-status, .all-gender, .all-species, .all-type,
.all-origin, .all-location {
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    padding-left: 20px;
}

/*.character{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: helvetica;
    margin: auto;
    border-radius: 10px;
    border: 5px double grey;
    width:300px;
    height:260px;
    text-align:center;
    background-color: white;
    color: #262624;
  }*/